/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

footer a:after {
    content: " \2022 ";
}

footer a:last-child:after {
    content: "";
}