*{border-radius: 0 !important;}
.panel.panel-default {
    -webkit-box-shadow: 3px 10px 50px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 50px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 50px -1px rgba(0,0,0,0.75);
    border: none;
}
.panel-default>.panel-heading {
    background: #333;
    color: #ccc;
}
#loginBox {
    margin-top: 20px;
}
body {
    background-color: #cccccc;
}